@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  /* font */
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;

  /* color */
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 1.4rem;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  gap: 5rem;
  background-color: var(--very-dark-blue);
  background-image: url(../images/bg-mobile.png);
  background-size: cover;
  background-repeat: repeat-y;
}

main {
  width: 100%;
  margin-block: 2rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto) repeat(2, 3.6rem);
}

.info-top {
  width: 100%;
  padding: 4rem;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  background-color: var(--dark-blue);
  display: grid;
  gap: 3.3rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-bottom: 1.6rem;
  box-shadow: -1rem 3rem 6rem -1rem rgb(0, 0, 0, 0.5);
}

ul {
  display: flex;
  gap: 1.5rem;
}

ul > li {
  display: grid;
  place-items: center;
  width: 4.8rem;
  height: 4.8rem;
  background-color: var(--very-dark-blue);
  border-radius: 1rem;
}

.info-middle {
  width: 100%;
  color: var(--grayish-blue);
  background-color: var(--dark-blue);
  padding: 3.2rem;
  border-radius: 1rem;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  box-shadow: -1rem 3rem 6rem -1rem rgb(0, 0, 0, 0.5);
}

.info-middle > p {
  margin-bottom: 1.6rem;
}

.info-middle strong {
  color: var(--pale-blue);
}

.progress-bar-bg {
  width: 100%;
  height: 2rem;
  padding: 0.2rem;
  background-color: var(--very-dark-blue);
  border-radius: 1.1rem;
  overflow: hidden;
}

.progress-bar-fg {
  position: relative;
  display: block;
  width: 75%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 1rem;
}

.circle {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: white;
  right: 0;
  top: 0;
  margin: 0.15rem;
}

.number {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}

.number span {
  font-size: 1.1rem;
}

.info-float {
  width: 17.9rem;
  height: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--very-dark-blue);
  background-color: white;
  border-radius: 1rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  text-transform: uppercase;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  box-shadow: -0.5rem 1.5rem 3rem -1rem rgb(0, 0, 0, 0.25);
}

.info-float > p {
  color: var(--grayish-blue);
  font-weight: 700;
  font-size: 1.2rem;
}

.info-float strong {
  color: var(--very-dark-blue);
  font-size: 4rem;
}

footer {
  font-size: 1rem;
  color: var(--grayish-blue);
  margin-bottom: 0.3rem;
}

footer a {
  color: var(--pale-blue);
  font-weight: 700;
}

footer a:active {
  text-decoration: none;
}

@media (min-width: 375px) {
  main {
    padding: 0 2.4rem;
  }

  .info-middle > p {
    text-align: left;
  }

  footer {
    font-size: 1.1rem;
  }
}

@media (min-width: 425px) {
  .info-top {
    width: min(100%, 35rem);
  }
}

@media (min-width: 600px) {
  main {
    grid-template-columns: 35rem repeat(2, auto) 3.2rem;
    grid-template-rows: auto repeat(2, 3.6rem) auto;
  }

  .info-top {
    grid-row: 1 / 3;
  }

  .info-middle {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
  }

  .number {
    margin-bottom: 0;
  }

  .info-float {
    position: relative;
    width: auto;
    padding-inline: 1.5rem;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    margin-inline-start: auto;
    margin-inline-end: 0;
    border-bottom-right-radius: 0;
  }
  .info-float::after {
    content: "";
    border-top: 2.2rem solid white;
    border-left: 2.2rem solid transparent;
    position: absolute;
    right: 0;
    bottom: -21px;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}

@media (min-width: 920px) {
  body {
    background-size: inherit;
  }
  main {
    width: min(100%, 92rem);
    grid-template-columns: repeat(3, auto) 4rem;
    grid-template-rows: repeat(2, 4.8rem) auto;
  }

  .info-top {
    position: relative;
    width: min(100%, 35rem);
    grid-row: 1 / -1;
    margin-right: 3rem;
    margin-bottom: 0;
    z-index: 1;
  }

  .info-middle {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
  }

  .info-float {
    width: 17.9rem;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .info-float::after {
    content: "";
    border-top: 2.2rem solid white;
    border-left: 2.2rem solid transparent;
    position: absolute;
    right: 0;
    bottom: -21px;
  }
}

@media (min-width: 1440px) {
  body {
    background-size: 100%;
    background-position: bottom;
  }
}

@media (min-width: 1920px) {
  body {
    background-size: 100%;
    background-position: 0 120%;
  }
}
